{{> partials/header}}
<div class="content">
    <div class="field">
        <span class="label">Name:</span>
        <span>{{fullName}}</span>
    </div>
    <div class="field">
        <span class="label">Email:</span>
        <span>{{email}}</span>
    </div>
    <div class="field">
        <span class="label">Phone:</span>
        <span>{{phone}}</span>
    </div>
    <div class="field">
        <span class="label">Message:</span>
        <div class="message">
            {{message}}
        </div>
    </div>
</div>
{{> partials/footer}} 